* {
    margin: 0;
    padding: 0;
}

#map {
    bottom: 0;
    min-height: 90vh;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    min-height: 90vh;
}

.container#blur.active {
    filter: blur(20px);
}

#popup {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .4s;
}


.box {
/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    opacity: 0;
    display: none;
    position: absolute;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 420px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ff5722;
    color: white;
}

input[type="submit"]:hover {
    background-color: #791c00;
}

#help-btn {
    width: 500px;
    height: 150px;
    font-size: 50px;
    margin: 20px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
    color: white;
}

.navbar {
    min-height: 10vh;
}

@media only screen and (max-width: 1000px) {
    .box {
        width: 360px;
    }
    input[type="submit"] {
        height: 50px;
        width: 75px;
    }

    input[type="text"] {
        width: 250px;
        height: 50px;

    }
}
/*
#help-btn {
    width: 150px;
    height: 75px;
    z-index: 1000;
    float: bottom;
    position: relative;
    color: white;
    background-color: red;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
}*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 800px; /* Adjust the height as needed */
  }
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(180deg, rgba(21,93,154,1) 27%, rgba(255,213,0,1) 100%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}